@import '../../../node_modules/bootstrap/scss/bootstrap.scss';

.covalence-blue {
    color: #0091ea;
}

.bg1 {
    /* The image used */
    background-image: url('https://images.pexels.com/photos/546819/pexels-photo-546819.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260');

    /* Full height */
    height: 25em;
    max-width: 100%;



    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.container {
    max-width: 100%;

}

.tshadow {
    text-shadow: -1px 0 red, 0 1px black, 1px 0 black, 0 -1px black;
}




