@import '../../../node_modules/bootstrap/scss/bootstrap.scss';

.covalence-blue {
    color: #0091ea;
}

.bg1 {
    background-image: url('https://images.unsplash.com/photo-1510915228340-29c85a43dcfe?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80');

    height: 25em;
    max-width: 105%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.container {
    max-width: 100%;

}

.tshadow {
    text-shadow: -1px 0 red, 0 1px black, 1px 0 black, 0 -1px black;
}




